"*":
  core:
    projectHome: "~/Projects"
    telemetryConsent: "no"
  editor:
    fontFamily: "Fira Code"
    fontSize: 12
    lineHeight: 1.45
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "77389192-9988-507c-a785-6f4a3be2a5ba"
  "linter-eslint":
    globalNodePath: "/usr/local"
  "linter-js-standard":
    checkStyleDevDependencies: true
    showEslintRules: true
  welcome:
    showOnStartup: false
